@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?k7pqcg');
  src:  url('../fonts/icons/icomoon.eot?k7pqcg#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?k7pqcg') format('truetype'),
    url('../fonts/icons/icomoon.woff?k7pqcg') format('woff'),
    url('../fonts/icons/icomoon.svg?k7pqcg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caille:before {
  content: "\e906";
}
.icon-canard:before {
  content: "\e907";
}
.icon-caneton:before {
  content: "\e908";
}
.icon-chapon:before {
  content: "\e909";
}
.icon-chevreau:before {
  content: "\e90a";
}
.icon-dinde:before {
  content: "\e90b";
}
.icon-dindon:before {
  content: "\e90c";
}
.icon-i-jam:before {
  content: "\e90d";
}
.icon-i-lunch:before {
  content: "\e90e";
}
.icon-i-sertifications:before {
  content: "\e90f";
}
.icon-i-snow:before {
  content: "\e910";
}
.icon-i-specifiques:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-i-specifiques:after {
  content: "\e912";
  margin-left: -1em;
  color: rgb(94, 30, 34);
}
.icon-jeune-coq:before {
  content: "\e913";
}
.icon-lapin:before {
  content: "\e914";
}
.icon-oie:before {
  content: "\e915";
}
.icon-pintade:before {
  content: "\e916";
}
.icon-poule:before {
  content: "\e917";
}
.icon-poulet:before {
  content: "\e918";
}
.icon-viandes:before {
  content: "\e919";
}
.icon-coq:before {
  content: "\e91a";
}
.icon-nav-left:before {
  content: "\e901";
}
.icon-nav-right:before {
  content: "\e905";
}
.icon-world:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-searchmagnifying-glass:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
