.logos-section {
    padding: 68px 0 98px;
    background-color: $red;
    color: $white;
    font-size: 24px;
@include media('<desktop') {
	padding: 40px 0;
}	
    .h2 {
        margin-bottom: 84px;
        @include media('<widescreen') {
        	margin-bottom: 60px;	
        }	
        @include media('<desktop') 
        {
        	margin-bottom: 40px;	
        }	
        @include media('<tablet') {
        	margin-bottom: 30px;	
        }	
    }
}

.logo-carousel {
    text-align: center;
    font-size: 24px;
    position: relative;
    @include media('<1370px') {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include media('<desktop') {
    	padding-left: 38px;	
    	padding-right: 38px;	
    	font-size: 18px;	
    }	
    .title {
        font-size: imherit;
        font-weight: 300;
        display: inline-block;
        margin-bottom: 21px;
        display: block;
        width: 100%;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        @include media('<widescreen') {
        	margin-bottom: 15px;	

        }	
        @include media('<desktop') {
        	margin-bottom: 10px;	
        }	
    }
    .img-holder {
        padding: 0 15px;
        text-align: center;
        display: flex;
        align-items: center;

        justify-content: center;
        margin-bottom: 44px;
        height: 154px;
        @include media('<desktop') {
        	margin-bottom: 20px;	
        }	
    }
    img {
        width: auto !important;
        display: inline-block;
        max-height: 100%;
        height: auto;
    }
    .btn {
        @include animate(background-color color border-radius);
        padding:14px 26px;
        @include media('<desktop') {
        	padding: 10px 15px;
        	font-size: 	14px;		
        }	
        &:hover {
            background-color: $white;
            color: $red;
            border-radius: 20px;
        }
    }

    .owl-nav .owl-next,
    .owl-nav .owl-prev {
        @include animate(opacity);
        position: absolute;
        top: 50%;
        transform: translateY(-63%);
        width: 56px;
        height: 116px;
        border: 1px solid rgba($white, 0.6);
        font-size: 0;
        color: $white;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -80px;
        @include animate(background-color color);
        @include media('<1370px') {

            width: 40px;
            left: -5px;
        }
        @include media('<desktop') {
        	height: 	80px;
        	width: 	35px;
        }	
        &:hover {
            background-color: $white;
            color: $red;
        }

        &:before {
            font-size: 52px;

            font-family: icomoon;
            @extend .icon-chevron-left:before;
            @include media('<desktop') {
            	font-size: 20px;	
            }	
        }
    }

    .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-63%) scaleX(-1);
        width: 56px;
        height: 116px;
        border: 1px solid rgba($white, 0.6);
        font-size: 0;
        color: $white;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        left: auto;
        right: -80px;
        @include media('<1370px') {
            width: 40px;
            left: auto;
            right: -5px;
        }
          @include media('<desktop') {
        	height: 	80px;
        	width: 	35px;
        }	
    }
}