.mark-interactive {
	padding: 55px;
	background-color: $black;
	color: $white;
	@include media('<desktop') {
		padding: 30px;
	}
	@include media('<tablet') {
		padding: 15px 0;
	}
	h2 {
		margin-bottom: 0;
	}
}
.interactive-holder {
	display: flex;
	justify-content: space-between;
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	@include media('<desktop') {
		max-width: 750px;
	}
	@include media('<tablet') {
		flex-wrap: wrap;
		max-width: 750px;
	}
}
.mark-content-holder {
	padding: 10px 0;
	display: flex;
	width: 320px;
	height: 182px;
	flex-wrap: wrap;
	border: 3px solid $white;
	border-radius: 50%;
	@include media('<desktop') {
		width: 256px;
		height: 145px;
	}
	@include media('<tablet') {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.m-row {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		&:nth-child(2) {
			.m-element {
				&:after {
					content: "-";
					margin: 0 10px;
					color: $white;
				}
			}
		}
		.m-middle-right {
			&:after {
			display: none;
			}
		}
	}
	.m-element {
		@include animate(color, .3s)
		display: inline-block;
		font-size: 39px;
		font-weight: 500px;
		line-height: 1.3;
		@include media('<desktop') {
		font-size: 24px;
		}
	}
	.m-element {
			&:hover {
			color: $red;
			cursor: pointer;
			&:after {
				color: $white;
			}
		}
	}
	.marked {
		color: $red;
	}
}

.description-block {
	display: flex;
	max-width: 460px;
	justify-content: flex-start;
	align-items: center;
	@include media('<tablet') {
		max-width: 100%;
		width: 100%;
		padding: 10px;
	}
	.description {
		@include animate(opacity, .3s)
		position: absolute;
		margin-bottom: 0;
		padding: 0 0 15px 15px;
		font-size: 25px;
		font-weight: 300;
		line-height: 1.1;
		opacity: 0;
		@include media('<desktop') {
		font-size: 20px;
		}
		@include media('<tablet') {
		font-size: 18px;
		text-align: center;
		padding: 0;
		}
		&.active {
			position: relative;
			opacity: 1;
		}
		&.default-text {
			@include animate(opacity, .3s)
			position: relative;
			opacity: 1;
			&.inactive {
				position: absolute;
				opacity: 0;
			}
		}
		.marked {
			color: $red;
		}
	}
} 
