.products-box {
    display: flex;
    .box-col {
        width: 20%;

        color: $black;
        .col-head {
            position: relative;
            &:hover .head-menu {
                opacity: 1;
                visibility: visible;
            }
            &:hover .opener {
                    background-color: $red;
                    color: $white;
                    .icon-i-specifiques:before {
                        color: $red;
                    }
                    i {
                        background-color: $white;
                        color: $red;
                    }
                }
            .opener {
                @include animate(background-color color);
                background-color: $gray-light;
                padding: 15px 6px 15px 26px;
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: $black;
                cursor: pointer;
                
                strong {
                    font-weight: 300;
                }
                i {
                    @include animate(background-color color);
                    font-size: 30px;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    color: $white;
                    background-color: $red;
                    display: block;
                    flex-grow: 0;
                    flex-shrink: 0;
                    text-align: center;
                    line-height: 48px;
                    margin-right: 8px;
                }
            }
            .head-menu {
                @extend %listreset;
                @include animate(opacity visibility);
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: $white;
                color: $dark;
                font-size: 14px;
                font-weight: 300;
                background-color: 	#f6f6f6;
                z-index: 	99;
                li {
                    padding: 9px 5px 9px 33px;
                }
                a {
                    color: inherit;
                    display: block;
                    @include animate(color font-weight);
                    &:hover {
                        color: $red;
                        font-weight: 700;
                    }
                }
            }
        }
        .body-box {
        
            text-align: center;
            background-color: transparent;
            padding: 40px 13px 37px;
            position: 	relative;	
            &:after{
            	content: '';
            	position: absolute;
            	bottom:0;
            	left:5px;
            	right: 5px;	
            	height: 1px;	
            	background-color: 	#f0f0f0;
            }
            strong {
                display: block;
                margin-bottom: 10px;
            }
            @include animate(background-color color);
            &:hover {
                background-color: $red;
                color: $white;
                padding-top: 21px;	
                padding-bottom: 60px;	
                &:after{
                	opacity: 0;
                }
                i {
                    color: $white;
                    font-size: 88px;	
                }
                .btn {
                    opacity: 1;
                    visibility: visible;
                }
            }
            i {

                font-size: 115px;
                color: $pink-light;
                min-height: 110px;
                line-height: 110px;
            }
            .btn {
                opacity: 0;
                visibility: hidden;
                position: absolute;	
                left:50%;
                transform:translateX(-50%);
                bottom:12px;
            }
            .title {
                display: block;
                font-size: 22px;
                font-weight: 500;
            }
        }
    }
}