.product-popup {
	max-width: 805px;
	padding: 25px 25px 20px;
	@include media('<tablet') {
        	max-width: 600px;
        	padding: 15px;
    	}
	&.hide-content {
		background-color: $white;
	}
	p {
		font-size: 16px;
		margin-bottom: 30px;
		@include media('<tablet') {
			font-size: 14px;
			margin-bottom: 20px;
		}
	}
	.close-popup {
		@include animate (opacity, .3s)
		position: absolute;
		width: 40px;
		height: 40px;
		right: 15px;
		top: 30px;
		background: transparent;
		border: 0;
    	border-radius: 0;
    	outline: none;
    	z-index: 10;
    	cursor: pointer;
    	@include media('<tablet') {
    		right: 5px;
    		top: 15px;
    	}
		&:before {
			content: "x";
			position: absolute;
			top: -3px;
			right: 10px;
			font-size: 40px;
			line-height: 1;
		}
		&:hover {
			opacity: .5;
		}
	}
	.fancybox-close-small {
		display: none;
	}
	.popup-top {
		padding-bottom: 5px;
		border-bottom: 1px solid #acacac;
		margin-bottom: 25px;
	}
	.popup-title {
		display: flex;
		align-items: center;
		font-size: 32px;
		@include media('<tablet') {
			font-size: 24px;
		}
		i {
			color: $red;
			font-size: 50px;
			margin-right: 18px;
			@include media('<tablet') {
				font-size: 40px;
			}
		}
	}
	.popup-main {

	}
	.marked-red {
		display: inline-block;
		color: $red;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 28px;
		@include media('<tablet') {
			margin-bottom: 20px;
		}
		i {
			color: inherit;
			margin-right: 15px;
		}
	}
	.popup-info-row {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 10px;
	}
	.favoris-link {
		width: 12%;
		padding: 0 5px 0 30px; 
		background-color: $red;
		border-radius: 0;
		line-height: 56px;
		position: relative;
		@include media('<tablet') {
			width: 18%;
			font-size: 14px;
			line-height: 40px;
		}
		@include media('<phone') {
			padding: 0 5px 0 25px;
		}
		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);
			width: 22px;
			height: 22px;
			background-image: url(../images/favorite-mark-stars.svg);
			background-repeat: no-repeat;
			@include media('<tablet') {
				width: 18px;
				height: 18px;
			}
		}
	}
	.text-field {
		padding: 0 5px 0 20px;
		width: 32%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: $gray-light;
		@include media('<tablet') {
			font-size: 16px;
			padding: 0 5px 0 10px;
		}
	}
	.icons-field {
		display: flex;
		width: 56%;
		align-items: center;
		justify-content: flex-start;
		background: $gray-light;
		@include media('<tablet') {
			width: 50%;
		}
		i {
			font-size: 40px;
			margin-right: 18px;
			@include media('<tablet') {
				font-size: 25px;
			}
		}
		.img-holder {
			display: flex;
			align-items: center;
			width: 45px;
			height: 45px;
			margin-right: 18px;
			@include media('<tablet') {
				width: 30px;
				height: 30px;
				margin-right: 12px;
			}
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.popup-bottom {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.btn {
			padding: 0 18px;
			line-height: 40px;
			border-radius: 5px;
			@include media('<tablet') {
				line-height: 30px;
			}
		}
		p {
			margin-bottom: 0;
			margin-right: 18px;
		}
	}
}

