.default-section.img-bg {
	background-repeat: no-repeat;
	.text-image-box {
		padding: 0 35px;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
		@include media('<tablet') {
			padding: 0;
		}
		.text-holder {
			max-width: 910px;
			order: 1;
			p {
				padding-right: 5px;
			}
		}
		.img-holder {
			width: 188px;
			height: 188px;
			margin: 0;
			order: 2;
			@include media('<desktop') {
				width: 140px;
				height: 140px;
			}
		}
	}
	.search-form {
		display: block;
		text-align: center;
		margin-bottom: 113px;
		@include media('<desktop') {
			margin-bottom: 80px;
		}
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		.inpt-controll {
			background: transparent;
			font-size: 23px;
			@include placeholder {
            color: $gray3;
        	}
		}
	}
}

.marks-block {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 313px;
	@include media('<desktop') {
		margin-bottom: 60px;
	}
	.mark-wrapper {
		padding: 25px 0;
		width: 18%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-color: $gray-light-2;
		@include media('<desktop') {
			width: 25%;
		}
		@include media('<tablet') {
			width: 33%;
		}
		@include media('<phone') {
			width: 50%;
		}
		&:nth-child(even) {
			background-color: $gray-light-1;
		}
	}
	.mark-content-holder {
		padding: 0;
		width: 138px;
		height: 79px;
		border: 1px solid $black;
		.m-row {
			&:nth-child(2) {
				.m-element {
					&:after {
						margin: 0 5px;
					}
				}
			}
		}
		.m-element {
			font-size: 17px;
			font-weight: 400;
			color: $black;
				&:hover {
				color: $black;
				cursor: default;
				&:after {
					color: $black;
				}
			}
		}
	}
	.mark-title {
		display: inline-block;
		width: 100%;
		text-align: center;
		line-height: 60px;
		margin-bottom: 0;
	}
}