$light-gray-1:	#f6f6f6;
$light-gray-2:	#eeeeee;


.static-header {
	#wrapper {
		
	}
}

.products-section-wrapper {
	padding: 90px 25px 60px 25px;
	display: flex;
	justify-content: space-between;
	margin: 90px 0 60px 0;
	@include media('<desktop') {
        padding: 0;
    }
	@include media('<tablet') {
        flex-wrap: wrap;
    }
}

.products-grid-holder {
	max-width: 850px;
	width: 100%;
	padding: 15px 0 0 0;
	@include media('<widescreen') {
    	width: 75%;
	}
	@include media('<desktop') {
    	width: 68%;
	}
	@include media('<tablet') {
    	width: 100%;
	}
	.h2 {
		padding: 35px 15px 35px 119px;
		margin-bottom: 22px;
		font-size: 47px;
		line-height: 1;
		font-weight: 600;
		margin-bottom: 0;
		@include media('<desktop') {
    		padding: 20px 15px 20px 70px;
    		font-size: 28px;
		}
		@include media('<tablet') {
    		padding: 15px 15px 15px 35px;
    		margin-bottom: 20px;
		}
		@include media('<phone') {
    		padding: 15px 15px 15px 35px;
    		font-size: 22px;
		}
	}
}

.products-list {
	@extend %listreset;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.list-item {
		@include animate(border-bottom, .5s)
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 250px;
		min-height: 250px;
		padding-top: 20px;
		background-color: $light-gray-2;
		box-sizing: border-box; 
		border-bottom: 11px solid $light-gray-2; 
		margin-bottom: 42px;
		position: relative;
		overflow: hidden;
		@include media('<widescreen') {
        	width: 32%;
        	min-height: 200px;
        	margin-bottom: 20px;
    	}
    	@include media('<desktop') {
    		padding-top: 30px;
			width: 48%;
			min-height: 250px;
    	}
    	@include media('<tablet') {
        	width: 80%;
        	margin: 0 auto;
        	margin-bottom: 30px;
    	}
    	@include media('<phone') {
    		width: 100%;
        	min-height: 220px;
    	}
		.product-img {
			width: 100%;
			height: 164px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			@include media('<widescreen') {
				height: 120px;
	    	}
	    	@include media('<desktop') {
				width: 70%;
				margin: 0 auto;
	    	}
	    	@include media('<tablet') {
				height: 140px;
				width: 60%;
				margin-bottom: 20px;
	    	}
	    	@include media('<phone') {
				width: 80%;
				height: 120px;
				margin-bottom: 10px;
	    	}
			img {
			display: block;
			width: 100%;
			height: auto;
			}
			&:focus {
				outline: none;
			}
		}
		.item-name {
			@include animate(color, .5s)
			display: inline-block;
			padding: 0 10px;
			width: 100%;
			text-align: center;
			font-size: 22px;
			font-weight: 500;
			word-wrap: break-word;
			@include media('<desktop') {
				padding-top: 15px;
				font-size: 18px;
	    	}
	    	@include media('<phone') {
	    		padding-top: 10px;
				font-size: 18px;
	    	}
		}
		.item-button {
		@include animate(opacity, .5s)
		display: block;
		position: absolute;
		opacity: 0;
		top: -67px;
		right: -49px;
		width: 117px;
		height: 117px;
		border-radius: 50%;
		background-color: $red;
		color: $white;
		@include media('<desktop') {
			opacity: .8;
	    }
		&:before {
			content: "Favoris";
			position: absolute;
			top: 67px;
			left: 14px;
			font-size: 15px;
			}
		&:after {
			content: " ";
			position: absolute;
			background-image: url(../images/favorite-mark-stars.svg);
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
			top: 86px;
			left: 30px;
			}
			&:hover {
				opacity: .7 !important;
			}
		}
		&:hover {
			border-bottom: 11px solid $red;
			cursor: pointer;
			.item-button {
				opacity: 1;
			}
			.item-name {
				color: $red;
			}
		}
	}
}

.callback {
	@include animate(opacity, .3s)
	display: none;
	opacity: 0;
	max-width: 210px;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 15px;
	color: $white;
	@include media('<phone') {
			max-width: 100%;
    		width: 100%;
		}
	&.active {
		display: block;
		opacity: 1;
	}
	.red-line {
		background-color: $red-dark;
		border-radius: 8px 8px 0 0;
		text-align: center;
		@include media('<phone') {
    		display: none;
		}
		span {
			line-height: 24px;
		}
	}
	.contact-link-field {
		padding: 4px 0;
		background-color: $red;
		text-align: center;
		span {
			display: inline-block;
			width: 100%;
			margin-bottom: 8px;
		}
		.btn {
			@include animate(background-color color, .5s)
			transform: translate3d(0px, 0px, 0px);
			&:hover {
				background-color: $white;
				color: $red;
			}
		}
	}
	.m-close {
		display: none;
		@include media('<phone') {
    		display: block;
    		position: absolute;
    		width: 18px;
    		height: 18px;
    		line-height: 20px;
    		right: 10px;
    		top: 10px;
    		border-radius: 50%;
    		color: $red;
    		background-color: $white;
    		text-align: center;
		}
	}
}

.mask {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 9999px;
	background: rgba(0, 0, 0, .2);
	z-index: 1;
}