$light-gray-1:	#f6f6f6;
$light-gray-2:	#eeeeee;


.products-page {
	#wrapper {
		background-color: $light-gray-1;
	}
	.banner {
		margin-bottom: 180px;
		@include media('<widescreen') {
        	margin-bottom: 100px;
    	}
    	@include media('<desktop') {
        	margin-bottom: 70px;
    	}
    	@include media('<tablet') {
        	margin-bottom: 30px;
    	}
	}
}

.products-section-wrapper {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	@include media('<tablet') {
        flex-wrap: wrap;
    }
}

.m-filter-opener {
	display: none;
	@include media('<tablet') {
        display: block;
        width: 100%;
        background-color: $black;
        color: $white;
        text-align: center;
        margin-bottom: 30px;
    }
}

.m-filter-open {
	.filter-holder {
		left: 0;
	}
}

.filter-holder {
	width: 250px;
	color: $black;
	@include media('<widescreen') {
    	width: 23%;
	}
	@include media('<tablet') {
		@include animate(left, .3s)
        width: 100%;
        position: fixed;
        top: 20%;
        left: 120%;
        z-index: 2;
    }
	.filter {
		background-color: $white;
		font-size: 15px;
		&-top {
			margin-bottom: 7px;
		}
		&-main {
			.filter-title {
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
	.filter-title {
		display: inline-block;
		width: 100%;
		padding: 12px;
		font-size: 17px;
		text-align: center;
		word-wrap: break-word;
		@include media('<desktop') {
    		font-size: 15px;
    		padding: 10px 5px;
		}
	}
	.f-divider {
		height: 1px;
		background-color: $light-gray-2;
	}
	.selected-attributes-list {
		@extend %listreset;
		padding: 12px;
		li {
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: line-through;
				}
				&:before {
					content: "X";
					display: inline-block;
					font-weight: 500;
					margin-right: 10px;
				}
			}
		}
	}
	.clear-selected {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: inherit;
		text-decoration: none;
		margin-bottom: 10px;
		&:before {
			content: 'X';
			display: inline-block;
			width: 16px;
			height: 16px;
			background-color: $black;
			border-radius: 100%;
			line-height: 17px;
			font-size: 16px;
			font-weight: 400;
			color: $white;
			margin-right: 5px;

		}
	}
	.f-attribute-list {
		@extend %listreset;
		color: $black;
		padding: 0 5px 8px 23px;
		margin-bottom: 5px;
		li {
			position: relative;
			.f-attribute {
				color: inherit;
				text-decoration: none;
				@include media('<tablet') {
		    		font-size: 14px;
				}
				&:before {
					content: "";
					display: inline-block;
					width: 13px;
					height: 13px;
					border: 1px solid #cfcfcf;
					border-radius: 3px;
					font-weight: 500;
					margin-right: 10px;
				}
			}
			&.selected {
				&:after {
					content: "x";
					position: absolute;
					left: 4px;
					top: 2px;
					font-size: 13px;
					line-height: 1;
					font-weight: 500;
				}
			}
		}
	}
}

.products-grid-holder {
	max-width: 850px;
	width: 100%;
	@include media('<widescreen') {
    	width: 75%;
	}
	@include media('<tablet') {
    	width: 100%;
	}
	.h2 {
		padding: 35px 15px 35px 119px;
		margin-bottom: 22px;
		font-size: 47px;
		line-height: 1;
		font-weight: 600;
		margin-bottom: 0;
		@include media('<desktop') {
    		padding: 20px 15px 20px 70px;
    		font-size: 28px;
		}
		@include media('<tablet') {
    		padding: 15px 15px 15px 35px;
    		margin-bottom: 20px;
		}
		@include media('<phone') {
    		padding: 15px 15px 15px 35px;
    		font-size: 22px;
		}
	}
}

.products-list {
	@extend %listreset;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.list-item {
		@include animate(border-bottom, .5s)
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		width: 250px;
		height: 250px;
		padding-top: 20px;
		background-color: $light-gray-2;
		box-sizing: border-box; 
		border-bottom: 11px solid $light-gray-2; 
		margin-bottom: 42px;
		position: relative;
		overflow: hidden;
		@include media('<widescreen') {
        	width: 32%;
        	height: 200px;
        	margin-bottom: 20px;
    	}
    	@include media('<tablet') {
        	width: 80%;
        	height: 250px;
        	margin: 0 auto;
        	margin-bottom: 30px;
    	}
		.product-link {
			width: 100%;
			height: 164px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			@include media('<widescreen') {
				height: 120px;
	    	}
	    	@include media('<tablet') {
				height: 164px;
				width: 60%;
				margin: 0 auto;
				margin-bottom: 20px;
	    	}
	    	@include media('<phone') {
				width: 80%;
	    	}
			img {
			display: block;
			width: 100%;
			height: auto;
			}
		}
		.item-name {
			@include animate(color, .5s)
			display: inline-block;
			width: 100%;
			text-align: center;
			font-size: 22px;
			font-weight: 500;
			@include media('<desktop') {
					font-size: 18px;
	    		}
		}
		.item-button {
		@include animate(opacity, .5s)
		display: block;
		position: absolute;
		opacity: 0;
		top: -67px;
		right: -49px;
		width: 117px;
		height: 117px;
		border-radius: 50%;
		background-color: $red;
		color: $white;
		&:before {
			content: "Favoris";
			position: absolute;
			top: 67px;
			left: 14px;
			font-size: 15px;
			}
		&:after {
			content: " ";
			position: absolute;
			background-image: url(../images/favorite-mark-stars.svg);
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
			top: 86px;
			left: 30px;
			}
			&:hover {
				opacity: .7 !important;
			}
		}
		&:hover {
			border-bottom: 11px solid $red;
			cursor: pointer;
			.item-button {
				opacity: 1;
			}
			.item-name {
				color: $red;
			}
		}
	}
}

.callback {
	@include animate(opacity, .3s)
	display: none;
	opacity: 0;
	max-width: 210px;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 15px;
	color: $white;
	@include media('<phone') {
			max-width: 100%;
    		width: 100%;
		}
	&.active {
		display: block;
		opacity: 1;
	}
	.red-line {
		background-color: $red-dark;
		border-radius: 8px 8px 0 0;
		text-align: center;
		@include media('<phone') {
    		display: none;
		}
		span {
			line-height: 24px;
		}
	}
	.contact-link-field {
		padding: 4px 0;
		background-color: $red;
		text-align: center;
		span {
			display: inline-block;
			width: 100%;
			margin-bottom: 8px;
		}
		.contact-link {
			@include animate(all, .5s)
			display: inline-block;
			min-width: 134px;
			line-height: 38px;
			border: 1px solid $white;
			border-radius: 20px;
			text-decoration: none;
			@include media('<phone') {
				line-height: 30px;
			}
			&:hover {
				background-color: $white;
				color: $red;
				font-weight: 500;
			}
		}
	}
}

