#wrapper{
	overflow: hidden;		
}
.container{
	@extend %clearfix;
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding:0 15px;
}
body{
	min-width: 320px;
	overflow: auto;
	@include media('<tablet') {
       padding-top: 60px;   
    }    
}