#footer {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 119px 0 40px;
    color: $white;
    position: relative;
    line-height: 1.2;
    @include media('<desktop') {
        padding-top: 80px;
    }


    @include media('<tablet') {
        padding-top: 41px;
        padding-bottom: 58px;
    }
    .h4 {
        padding: 0;
        margin-bottom: 20px;
        @include media('<tablet') {
            margin-bottom: 24px;
        }
    }

    .top-row {
        @extend %clearfix;
        .logo-holder {
            width: 17%;
            padding-left: 13px;
            float: left;
            @include media('<tablet') {
                width: 100%;
                text-align: center;
                margin-bottom: 43px;
                padding-left: 0;
            }
            .logo {
                width: 139px;
                display: block;
                @include media('<tablet') {
                    width: 94px;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                }
            }
        }
        .contact-row {
            width: 83%;
            float: left;
            @include media('<tablet') {
                width: 100%;
            }
        }
        .h4 {
            margin-bottom: 30px;
            @include media('<desktop') {
                text-align: center;
            }
            @include media('<tablet') {
                text-align: left;
                margin-bottom: 24px;
            }
        }
    }
    .contact-links {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include media('<desktop') {
            flex-wrap: wrap;
        }
        @include media('<tablet') {
            padding: 0 10%;
        }
        @include media('<phone') {
            padding: 0;
        }
        .video-box {
            margin: 0 20px 19px;
            @include media('<desktop') {
                margin-left: auto;
                margin-right: auto;
            }
            @include media('<tablet') {
                width: 100%;
                height: 115px;
                width: 132px;
                margin-bottom: 15px;
            }
        }
        .video-link {
            font-size: 14px;
            text-align: center;
            display: inline-block;
            margin-bottom: 26px;
            margin-right: 2.7%;
            &:hover {
                .btn {

                    border-color: $red;
                    opacity: 1 !important;
                    background-color: $red;
                }
            }
            @include media('<widescreen') {
                margin-right: 0;
            }
            @include media('<desktop') {
                width: 30%;
                margin: 0 10% 20px;
            }
            @include media('<tablet') {
                width: 50%;
                margin: 0 0 25px;
                padding: 0 8%;
            }
            @include media('<640px') {
                padding: 0 3%;
            }
            .name {
                font-size: 14px;
                display: block;
                margin-bottom: 6px;
                @include media('<tablet') {
                    z-index: 11;
                    margin-bottom: 0;
                }
            }
            .position {
                font-style: italic;
                margin-bottom: 9px;
                display: inline-block;
                @include media('<tablet') {
                    font-size: 11px;
                    margin-bottom: 8px;
                }
            }
            .btn {
                @include animate(background-color color border-color);
                font-weight: 300;
                padding: 8px 10px;
                opacity: 1 !important;
                @include media('<tablet') {
                    padding: 8px 10px;
                    font-size: 11px;
                }
                &:hover {
                    border-color: $red;
                    opacity: 1 !important;
                    background-color: $red;
                }
            }
        }
    }
    .copy {
        display: block;
        font-size: 13px;

        padding-top: 14px;
        @include media('<tablet') {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        a {
            color: inherit;
            @include animate(color);
            &:hover {
                color: $red;
            }
        }
    }
    .bottom-row {
        padding-left: 17%;
        display: flex;
        font-size: 15px;
        line-height: 1.1;
        padding-top: 45px;
        font-size: 15px;
        @include media('<widescreen') {
            padding-left: 0;
        }
        @include media('<tablet') {
            flex-wrap: wrap;
            padding-top: 14px;
        }
        address {
            font-style: normal;
            margin-bottom: 20px;
        }
        .col {
            width: 28.1%;
            padding-right: 30px;
            margin-bottom: 30px;
            padding-left: 23px;
            font-size: 18px;
            line-height: 1.25;
            @include media('<tablet') {
                order: 2;
                padding-left: 22px;
                padding-bottom: 14px;
            }
            @include media('<widescreen') {
                width: 35%;
                padding-right: 10px;
            }
            @include media('<desktop') {
                padding-right: 0;
                padding-left: 25px;
            }

            @include media('<tablet') {
                width: 100% !important;
            }
            &:nth-child(2) {
                @include media('<tablet') {
                    order: 0;
                }
            }

            .h4 {

                margin-left: -23px !important;
                margin-bottom: 20px;
                @include media('<tablet') {
                    margin-bottom: 25px;
                }
            }

            &+.col {
                width: 38%;
                font-size: 15px;
                p {
                    margin-top: -6px;
                    margin-bottom: 24px;
                    @include media('<tablet') {
                        margin-bottom: 19px;
                    }
                }
                @include media('<widescreen') {
                    width: 40%;
                }
                @include media('<tablet') {
                    max-width: 350px;
                }
                &+.col {
                    font-size: 18px;
                    width: 30%;
                    @include media('<widescreen') {
                        width: 33%;
                    }
                }
            }
            .info {

                a {
                    display: block;
                }
            }
        }
    }
}

.subscribe-form {
    margin-left: 3px;
    input {
        transition: all 0.3s;
        line-height: 1.1;
        font-size: 14px;
        color: $gray-light;
        padding-bottom: 1px;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba($white, .2) !important;
        width: 180px;
        padding-left: 0 !important;
        font-size: 14px;
        &:focus {
            outline: none;
                 border-bottom: 1px solid rgba($white, .9) !important; 
                 & + button {
                   transform:scale(1.4);
                 }
        }
    }
    button {
        @include animate(transform);
        font-size: 33px;
        line-height: 22px;
        background: transparent;
        border: none;
        color: inherit;
        vertical-align: bottom;
        margin-left: -1px;
        display: inline-block;
        transform:scale(1);
        &:hover {
           opacity:     0.8;
        }
    }
}