#header {
    padding-top: 26px;
    background: $black;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 2;
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &.bg-transparent {
        padding-top: 39px;
        background: transparent;
        .logo {
            width: 148px;
            height: 257px;
        }
    }
    .logo {
        width: 81px;
        height: 143px;
        display: inline-block;
        img {
            width: 100%;
            height: auto;
            display: inline-block;
        }
    }
    .header-nav {
    	@extend %listreset;
        display: flex;
        align-items: center;
        justify-conent: flex-end;
        font-size: 14px;
        a{
        	text-decoration: none;
	padding:5px 12px;
        }
        li{
        
        	padding: 0 12px;
        }
    }
    .has-drop {
	color:$white;
	position: relative;
    .drop {
    	        @include animate(opacity visibility);
    	@extend %listreset;
    	position: absolute;
    	top:100%;
    	right:0;
    	width: auto;
        opacity: 0;
        visibility: hidden;
        text-align: left;
        background-color: white;
        padding:10px;
        color:$black;

        a{
        	color:inherit;
        	padding: 5px 0;
        	margin: 0;
        	text-align: left;
        }
        li{
padding: 0;

        }
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}
}

